// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$orange: #ff3700;
$white: #ffffff;
$blue: #0072ce;
$gray: #414141;
$purple: #460a78;
$green: #6e9d3d;
$red: #ee261b;

$purple-gradient: #460a78;
$red-gradient: #e63c41;
$orange-gradient: #f58746;

@mixin app-bar-gradient {
  background: linear-gradient(to right, #460a78 13%, #e63c41 50%, #f58746 100%);
}
