.hide {
  display: none;
}
svg:not(:root) {
  overflow: visible !important;
}

/*Ver estilos drag-enable with reason e not-enable */
.drag-enabled:not(.dragging-active) .node.draggable {
  stroke: #7f7f7f;
  stroke-width: 2px;
  stroke-dasharray: 0px;
}

.drag-enabled.dragging-active .droppable {
  stroke: #6e9d3d;
  stroke-width: 2px;
  stroke-dasharray: 0px;
}

.node.dragging {
  stroke-dasharray: 0 !important;
  stroke-width: 0 !important;
}

.node.dragging .content-container {
  background-color: #ffffff;
}

.node-options-btn {
  font-size: 16px;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.node-options-btn:hover {
  color: #007bff;
}

.node-container {
  position: relative;
  overflow: visible;
}

.node-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
  display: none;
  gap: 4px;
}

.node-container:hover .node-controls,
.node-controls:hover {
  display: flex;
}

.control-btn {
  background-color: #fff;
  border: 1px dashed #ff3700;
  border-radius: 4px;
  padding: 2px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.control-btn img {
  width: 14px;
  height: 14px;

  filter: brightness(0) saturate(100%) invert(28%) sepia(81%) saturate(4237%)
    hue-rotate(3deg) brightness(104%) contrast(106%);
}

.control-btn:hover {
  background-color: #ff3700;
  border-color: #ff3700;
}

.control-btn:hover img {
  filter: brightness(0) invert(1);
}

.control-btn .tooltip {
  position: absolute;
  bottom: -110%; /* posicionado acima do botão */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3700;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  pointer-events: none;
  margin-bottom: 4px;
}

.control-btn:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
  z-index: 1;
}

.left-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.left-buttons button {
  background-color: #e8e8e8;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  font-size: 14px;
}

#enableDragButton {
  padding: 0 12px;
  border-radius: 12px;
  text-align: center;
  gap: 4px;
}

.icon-button {
  width: 25;
  height: 25;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-button {
  padding: 0 12px;
  border-radius: 5px;
}

#resetViewButton,
.text-button {
  width: fit-content;
  border-radius: 12px;
  padding: 0 8px;
}

.left-buttons button:hover {
  background-color: #ff3700;
  color: #fff;
}

.left-buttons button:hover img {
  filter: brightness(0) invert(1);
}

.icon-button img {
  width: 16px;
  height: 16px;
}

#enableDragButton img {
  width: 16px;
  height: 16px;
}

#dragActions button {
  background-color: #e8e8e8;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  height: 25px;
  align-items: center;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  padding: 0 12px;
  border-radius: 12px;
  gap: 4px;
  text-align: center;
}

#dragActions button:hover {
  background-color: #ff3700;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.overlay.active {
  display: block;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #e9ecef;
  border-bottom: 1px solid #ccc;
}

.sidebar-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-footer {
  padding: 15px;
  background-color: #e9ecef;
  border-top: 1px solid #ccc;
  text-align: right;
}

.sidebar-footer .save-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-footer .save-btn:hover {
  background-color: #218838;
}

.sidebar-footer .delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.sidebar-footer .delete-btn:hover {
  background-color: #d32f2f;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  padding: 20px;
  width: 300px;
  display: none;
}
.modal-content h3 {
  margin-top: 0;
}

.modal-content select {
  width: 100%;
  padding: 8px 12px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
}

.modal-content select:focus {
  border-color: #007bff;
  background-color: #fff;
}

.modal .hidden {
  display: none;
}
.overlay.hidden {
  display: none;
}

.applied-filters {
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 14px;
  color: #555;
  padding: 0;
  border: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.applied-filters span {
  display: inline-flex;
  align-items: center;
  color: #007bff;
  font-size: 13px;
  cursor: default;
}

.applied-filters span i {
  margin-left: 5px;
  font-style: normal;
  font-weight: bold;
  color: #ff4d4f;
  cursor: pointer;
}

/* busca */
.search-input {
  width: 300px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-right: 10px;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* alertas */

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, 50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.alert.show {
  display: block;
  opacity: 1;
}

.alert.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-buttons {
  margin-top: 10px;
}

.alert-buttons button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.alert-buttons .cancel {
  background-color: #f8f9fa;
  color: #212529;
}

.alert-buttons .confirm {
  background-color: #007bff;
  color: #fff;
}

.chart-stats-container {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 200px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comparison-charts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#salaryChart,
#departmentChart,
#genderChart {
  margin-top: 100px;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

/* Conteúdo do modal */
.delete-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Título */
.delete-modal-content h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

/* Parágrafo */
.delete-modal-content p {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

/* Contêiner do seletor */
#subordinate-selection-container {
  margin-bottom: 20px;
  text-align: left;
}

#subordinate-selection-container label {
  font-weight: bold;
  color: #333;
}

#subordinateSelect {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

/* Botões */
.delete-modal-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.delete-modal-content button:hover {
  background-color: #0056b3;
}

.delete-modal-content button:nth-child(4) {
  background-color: #6c757d;
}

.delete-modal-contentbutton:nth-child(4):hover {
  background-color: #5a6268;
}

.delete-modal-content button:last-child {
  background-color: #dc3545;
}

.delete-modal-contentbutton:last-child:hover {
  background-color: #c82333;
}

#dragActions {
  z-index: 9999;
  padding: 0 15px;
}

/* Responsividade */
@media (max-width: 480px) {
  .delete-modal-content {
    padding: 15px;
  }

  .delete-modal-content h3 {
    font-size: 1.2em;
  }

  .delete-modal-content p {
    font-size: 0.9em;
  }

  #subordinateSelect {
    font-size: 0.9em;
  }

  .delete-modal-content button {
    padding: 8px 12px;
    font-size: 0.9em;
  }
}
.button-content {
  position: relative;
  top: 10px;
  left: -10px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #414141;
  padding: 2px 4px;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.button-content .people,
.button-content .departments {
  display: flex;
  align-items: center;
}

.button-content .people img,
.button-content .departments img {
  height: 10px;
  width: 10px;
}

.button-content .separator {
  margin: 0 4px;
}
